body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden; /* Prevent unwanted scrollbars */
    display: flex;
    justify-content: center;
    align-items: stretch; /* Stretch items to fill the vertical space */
}

.container {
    display: flex;
    justify-content: space-around; /* Evenly space the inner containers */
    align-items: stretch; /* Ensure children stretch to fill vertical space */
    width: 100vw; /* Full viewport width */
    height: 100vh; /* Full viewport height */
    box-sizing: border-box;
}

.input-section, .output-section {
    flex-grow: 1; /* Allow these sections to grow and fill available space */
    display: flex;
    flex-direction: column;
    justify-content: stretch; /* Stretch content to fill the available height */
    width: 45%; /* Set width to fill horizontal space, accounting for control section */
    border: 4px solid grey;
    border-radius: 4px;
    margin: 10px;
}

.output-section {
    font-family: 'Source Code Pro', 'Consolas', 'Monaco', 'Menlo', 'Courier', monospace;
    white-space: pre-wrap;
    padding: 10px;
}

.stdout, .CodeMirror {
    flex-grow: 1; /* Allow textarea to grow and fill its container */
    box-sizing: border-box; /* Include padding and margin in the element's size */
    width: calc(100% - 20px); /* Adjust width to account for margins */
    height: calc(100% - 20px); /* Adjust height to fill container, accounting for margins */
    resize: none; /* Disable resizing to maintain layout integrity */
    font-size: 18px;
}

.control-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 10%; /* Adjust based on preference */
    max-width: 200px; /* Prevent control section from becoming too wide */
}

#output-mode, #submitBtn {
    width: 100%;
    padding: 10px;
    margin: 10px 0; /* Add margin above and below for spacing */
    box-sizing: border-box;
}
